.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    height: 400px;
    width: 400px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
}

.game-cell {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-cell.is-x {
    color: #2cccff;
}

.game-cell.is-o {
    color: #2cccff;
}

